body {
    color: #fff;
}

.game-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 95%;
    border-radius: 4px;
    background: rgb(63, 63, 62);
    font-size: 3rem;
    min-width: 80rem;
}

#question {
    width: 95%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(162, 162, 4, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(11,223,36) 0%, rgb(41,232,111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(230,29,29,1) 0%, rgb(224,11,11,1) 100%);
}

/* head up display */
#hud {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hud-item {
    margin: 0 5rem 0 5rem;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}


.social-networks {
    list-style: none;
    text-align: center;
    letter-spacing: 3px;
    margin: 5px 25px 5px 25px;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 5px 25px 5px 25px;
}

.social-networks>li>a {
    font-size: 2.5rem;
    color: #aaa;
}

.social-networks i:hover {
    color: #fff;
    cursor: pointer;
}

.home-btn {
    width: 15rem;
    height: 3rem;
    padding-bottom: 5.5rem;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

@media screen and (max-width: 500px) {
    .choice-container {
        min-width: 20rem;
        margin-right: 50px;
    }
}